*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hotpink ;
    color: white;
    height:auto;
}
div{
    margin:10px;
    padding: 10px;
    border:2px solid black;
    border-radius: 10px 4px 5px 2px ;
    background-color: rgb(83, 118, 118);
}
.container{
  border:2px solid rgb(19, 5, 5); 
  max-height: auto;
  padding: 2px 10px;
  background-color: #9f4444;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1); ;


}
label{
    font-size:14px ;
    color: rgb(193, 184, 184);
    padding: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: lighter;
}
input, textarea{
    width:100%;
    
    padding:10px 10px;
    margin:5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

